* {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

body {
    background-image: url("/Arvioitavat tehtävät/Kuvat/bg.jpg");
    size: 100%;
}

.accordion-body {
    font-style: italic;
}

.accordion-button {
    font-weight: bold;
}

.kuvah {
    width: 400px;
    height: 250px;
}

li {
    margin-left: 30px;
    list-style-type: none;
}

.links {
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-decoration: none;
    font-size: 13pt;
    margin-bottom: 30px;
}

.links:hover {
    color: rgb(209, 101, 101);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.75);
    font-family: Arial;
    border: 2px solid black;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: rgb(209, 101, 101, 0.45);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.navtext {
    font-weight: bold;
}

#osulogo {
    width: 400px;
    height: 220px;
}

#perkele {
    border: 1px solid black;
}

.btn-primary {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: white;
    width: 200px;
    border: 2px solid lightgray;
}

.btn-primary:hover {
    background-color: rgb(209, 101, 101);
}